## Indexing and Slicing

In [1]:
conda install numpy

Note: you may need to restart the kernel to use updated packages.

EnvironmentLocationNotFound: Not a conda environment: C:\Users\Dell

In [2]:
import numpy as np

In [3]:
data = np.array([1, 2, 3])

In [4]:
print(data)

[1 2 3]

In [5]:
print(data[0])
print(data[1])
print(data[0:2])
print(data[1:])
print(data[-2:])

1
2
[1 2]
[2 3]
[2 3]

In [6]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [7]:
# You can easily print all of the values in the array that are less than 5

print(a[a<5])

[1 2 3 4]

In [8]:
five_up = (a >= 5)

print(a[five_up])

[ 5  6  7  8  9 10 11 12]

In [9]:
# You can select elements that are divisible by 2

divisible_by_2 = a[a%2==0]

print(divisible_by_2)

[ 2  4  6  8 10 12]

In [10]:
# you can select elements that satisfy two conditions using the & and | operators

c = a[(a > 2) & (a < 11)]

print(c)

[ 3  4  5  6  7  8  9 10]

## Creating Array From Existing Data

In [11]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [12]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [13]:
arrNew = arr[3:8]
arrNew

array([4, 5, 6, 7, 8])

In [14]:
print(arrNew)

[4 5 6 7 8]

In [15]:
a_1 = np.array([[1, 1],
              [2, 2]])
print(a_1)

[[1 1]
 [2 2]]

In [16]:
a_2 = np.array([[3, 3],
               [4, 4]])
print(a_2)

[[3 3]
 [4 4]]

In [17]:
np.vstack((a_1, a_2))

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

In [18]:
np.hstack((a_1, a_2))

array([[1, 1, 3, 3],
       [2, 2, 4, 4]])

In [19]:
arrsplit = np.array([[1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
                     [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [20]:
print(arrsplit)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [21]:
np.hsplit(arrsplit, 3)

[array([[ 1,  2,  3,  4],
        [13, 14, 15, 16]]),
 array([[ 5,  6,  7,  8],
        [17, 18, 19, 20]]),
 array([[ 9, 10, 11, 12],
        [21, 22, 23, 24]])]

ValueError: array split does not result in an equal division

In [31]:
print(arrsplit)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [30]:
b = arrsplit.view()

## Basic Array Operations

In [28]:
data = np.array([1, 2, 3, 4])
ones = np.ones(4)

In [29]:
print(data)
print(ones)

[1 2 3 4]
[1. 1. 1. 1.]

In [32]:
print(data+ones)
print(data-ones)
print(data*ones)
print(data/ones)

[2. 3. 4. 5.]
[0. 1. 2. 3.]
[1. 2. 3. 4.]
[1. 2. 3. 4.]

In [33]:
print(data.sum())
print(ones.sum())

10
4.0

In [34]:
b = np.array([[1, 1], [2, 2]])
print(b)

[[1 1]
 [2 2]]

In [35]:
b.sum()

6

In [36]:
b.sum(axis=0)

array([3, 3])

In [37]:
b.sum(axis=1)

array([2, 4])

In [38]:
A = np.array([[0.45053314, 0.17296777, 0.34376245, 0.5510652],
              [0.54627315, 0.05093587, 0.40067661, 0.55645993],
              [0.12697628, 0.82485143, 0.26590556, 0.56917101]])
print(A)

[[0.45053314 0.17296777 0.34376245 0.5510652 ]
 [0.54627315 0.05093587 0.40067661 0.55645993]
 [0.12697628 0.82485143 0.26590556 0.56917101]]

In [39]:
A.sum()

4.8595784

In [40]:
A.sum(axis=0)

array([1.12378257, 1.04875507, 1.01034462, 1.67669614])

In [41]:
A.sum(axis=1)

array([1.51832856, 1.55434556, 1.78690428])

In [43]:
A.min()

0.05093587

In [44]:
A.min(axis=0)

array([0.12697628, 0.05093587, 0.26590556, 0.5510652 ])

In [45]:
A.min(axis=1)

array([0.17296777, 0.05093587, 0.12697628])

## Matrices

In [47]:
np.array([[1, 2], [3, 4]])

array([[1, 2],
       [3, 4]])

In [48]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [51]:
np.zeros((3, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [52]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [53]:
np.random.random((3, 2))

array([[0.69836405, 0.06899431],
       [0.61310799, 0.55584639],
       [0.30218445, 0.15383494]])

## Matrix Arithmetic

In [54]:
data = np.array([[1, 2], [3, 4]])
print(data)

[[1 2]
 [3 4]]

In [55]:
ones = np.ones([2, 2])

In [56]:
print(ones)

[[1. 1.]
 [1. 1.]]

In [62]:
print(data + ones)

[[2. 3.]
 [4. 5.]]

In [61]:
print(data - ones)

[[0. 1.]
 [2. 3.]]

In [60]:
print(data*ones)
print(data / ones)

[[1. 2.]
 [3. 4.]]
[[1. 2.]
 [3. 4.]]

In [63]:
ones_row = np.ones([1, 2])
print(ones_row)

[[1. 1.]]

In [64]:
print(data + ones_row)

[[2. 3.]
 [4. 5.]]

## Dot Product

In [70]:
a_1 = np.array([[1, 2, 3], [4, 5, 6]])
print(a_1)

a_2 = np.array([[7, 8], [9, 10], [11, 12]])
print(a_2)

[[1 2 3]
 [4 5 6]]
[[ 7  8]
 [ 9 10]
 [11 12]]

In [72]:
np.dot(a_1, a_2)

array([[ 58,  64],
       [139, 154]])

In [73]:
data = np.array([[1, 2], [3, 4], [5, 6]])
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [77]:
print(data[0, 1])
print(data[1:3])
print(data[0:2, 0])

2
[[3 4]
 [5 6]]
[1 3]

## Matrix Aggregation

In [78]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [79]:
print(data.max())
print(data.min())
print(data.sum())

6
1
21

In [82]:
print(data.max(axis=1))
print(data.min(axis=1))
print(data.sum(axis=1))

[2 4 6]
[1 3 5]
[ 3  7 11]

In [83]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [84]:
print(data.T)

[[1 3 5]
 [2 4 6]]

In [85]:
data_col = np.array([[1, 2, 3, 4, 5, 6]]).T
print(data_col)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [86]:
data_col.shape

(6, 1)

In [87]:
data_col.reshape(2, 3)

array([[1, 2, 3],
       [4, 5, 6]])

In [88]:
data_col.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [95]:
arr = np.arange(6).reshape((2, 3))
print(arr)

[[0 1 2]
 [3 4 5]]

## N-Dimensional Array

In [91]:
ndarr = np.array([[[1, 2], [3, 4]],
                  [[5, 6], [7, 8]]])

print(ndarr)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [92]:
np.ones((4, 3, 2))

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])

np.zeros((4, 3, 2))

In [94]:
np.random.random((4, 3, 2))

array([[[0.45654899, 0.95864142],
        [0.64238948, 0.31513347],
        [0.23189381, 0.6323373 ]],

       [[0.89900345, 0.37845207],
        [0.36891004, 0.87956108],
        [0.4768498 , 0.77444501]],

       [[0.37135283, 0.79296354],
        [0.09281911, 0.18372495],
        [0.81482541, 0.17243146]],

       [[0.91285261, 0.95162488],
        [0.4613459 , 0.73688325],
        [0.21185007, 0.17580379]]])

## Flatten N - Dimensional Array

In [97]:
arrflat = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [98]:
print(arrflat)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [99]:
arrflat.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

## Notes on Numpy Vector

In [102]:
a = np.random.rand(5)
print(a)

[0.02491987 0.84070452 0.29058101 0.08759098 0.47574414]

In [103]:
a.shape # Rank 1 Array

(5,)

In [104]:
a.T

array([0.02491987, 0.84070452, 0.29058101, 0.08759098, 0.47574414])

In [105]:
np.dot(a, a.T)

1.025847088979521

In [107]:
a = np.random.rand(5,1)
print(a)

[[0.55863028]
 [0.92691405]
 [0.11521252]
 [0.59615691]
 [0.98320123]]